.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.card {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-img {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
